<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FaceRecEFEntities" connectionString="metadata=res://*/EDMX.FaceRecEF.csdl|res://*/EDMX.FaceRecEF.ssdl|res://*/EDMX.FaceRecEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYENDRA-PC\SQLEXPRESS;initial catalog=FaceRec;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>